.link{
    margin-left: px;
    margin-top: -480px;

}
a{
    color:#20190369;
}
.row1{
    font-size: 70px;
    margin-right: 150px;
}
img{
    margin-left: 1000px;
    border-radius: 20px;
}
.row{
    margin-left: 1000px; 
    font-size: 25pt;
}