.data{
    text-align:center;
    padding:0%;
   margin:0%;
   color:black;
   font-size: 80px;
   font-style:italic;}
.row{
    text-align:center;
    padding-top: 100px;
    margin-left: 600px;
    }
.form{
    padding-left: 0px;
    padding-right: 0px;
}
.len, span{
    padding-top: 50px; 
    color:black;
    font-size: 30px;
    margin-right: 20px;
}
.div{
    padding: 0px;
    margin-top: -590px;
}

body{
    background-color: rgb(189, 168, 144);
}